.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  @apply bg-white rounded-2xl p-5 lg:min-w-[400px] max-w-[600px] lg:w-auto w-full mx-4 text-center relative;
  box-shadow: 4px 4px 60px 0px rgba(229, 229, 229, 0.16);
}

.header {
  @apply flex text-center;
}
.title {
  @apply w-full text-xl font-semibold text-black;
}
.close {
  @apply outline-none border-none bg-transparent;
  @apply w-4 h-4 absolute cursor-pointer right-5 top-5;
  @apply opacity-60 enabled:hover:opacity-100;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='%23030303' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m4 12 8-8M4 4l8 8' opacity='.3'/%3E%3C/svg%3E");
}

.message {
  @apply my-5;
}
.messageText {
  @apply text-base font-medium text-black/70;
}
